html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: url(background.jpg);
    background-size: 100%;
}

p {
    padding: 0 0 20px 0;
    color: black;
}


h1, h2, h3, h4, h5, h6 {
    font: normal 200% 'century gothic', arial, sans-serif;
    color: black;
}

h4, h5, h6 {
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: black;
}

h5, h6 {
    font: italic 100% arial, sans-serif;
    padding: 0 0 15px 0;
    color: #362C20;
}

a, a:hover {
    outline: none;
    color: red;
}

a {
    text-decoration: none;
}


#main, #logo, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 110px;
}

#logo {
    width: 800px;
    position: relative;
    height: 90px;
}

#logo_img {
    position: absolute;
    margin-left: -55px;
    margin-top: 5px;
    height: 100%;
}

#logo #logo_text {
    position: absolute;
    top: 20px;
    left: 0;
}

#logo h1, #logo h2 {
    font: normal 400% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    color: #000;
    letter-spacing: 0.1em;
    text-decoration: none;
}

    #logo_text h1 a .logo_colour {
        color: red;
        text-decoration: none;
    }


#logo_text h2 {
    font-size: 100%;
    padding: 4px 0 0 0;
    color: #676767;
}

#menubar {
    width: 60%;
    height: 70px;
    padding: 0;
    background: transparent url(transparent.png) repeat;
}

ul#menu, ul#menu li {
    float: left;
    margin: 0;
    padding: 0;
}

    ul#menu li {
        list-style: none;
    }

        ul#menu li a {
            letter-spacing: 0.1em;
            font: normal 100% arial, sans-serif;
            display: block;
            float: left;
            height: 37px;
            padding: 30px 25px 5px 25px;
            text-align: center;
            color: #FFF;
            text-transform: uppercase;
            text-decoration: none;
            background: transparent;
        }

            ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover {
                background: red;
                cursor:pointer;
            }

#site_content {
    width: 59%;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 10px 10px 10px 10px;
    background: transparent url(transparent_light.png) repeat;
}

.main-content {
    float: left;
    width: 70%;
    height: 420px;
}

.pages {
    height: 100%;
}

.sidebar {
    float: right;
    width: 25%;
    padding: 0 15px 20px 15px;
}

    .sidebar ul {
        width: 80%;
        padding: 4px 0 0 0;
        margin: 4px 0 30px 0;
    }

    .sidebar li {
        list-style: none;
        padding: 0 0 7px 0;
    }

        .sidebar li a, .sidebar li a:hover {
            padding: 0 0 0 40px;
            display: block;
            background: transparent url(link.png) no-repeat left center;
        }

            .sidebar li a.selected {
                color: red;
                text-decoration: none;
            }

#footer {
    width: 60%;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    height: 60px;
    text-align: center;
    background: transparent url(transparent.png) repeat;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.search {
    color: #5D5D5D;
    border: 1px solid #BBB;
    width: 70%;
    padding: 4px;
    font: 100% arial, sans-serif;
}

#search-icon {
    height: 20px;
    margin: 0 0 -5px 5px;
}

#shortDesc {
    padding: 20px 20px 20px 20px;
}

.canvas-div {
    background: transparent url(transparent.png) repeat;
    height: 80%;
    width: 65%;
    margin:auto;
    margin-top:50px;
   
}
.letter-tile {
    float: left;
    position: relative;
    width: 12%;
    height: 16%;
    margin: 1.11%;
    overflow: hidden;
    background: transparent url(transparent.png) repeat;
}
.letter-img {
   height:60px;
   width:63px;
   overflow:hidden;
   padding-left:6px;
   padding-top:3px;
}
.letter-tile :hover {
    background:black;
    margin-left:-1px;
    margin-bottom:-1px;
}
#canvas{
    height:90%;
    width:90%;
    position:relative;
    margin-left:20px;
    margin-top:20px;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid grey;
    background-color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.btn-group{
    display: inline-block;
    vertical-align: middle;
    left:30%;
    position:relative;
    background-color: transparent;
    
}
#title-div{
        display: inline-block;
         font-size: 35px;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
      position: absolute;
  z-index: 15;
  z-index: 15;
  top: 38%;
  left: 46%;
  margin: -100px 0 0 -150px;
  background: transparent;
}
